form {
    display: grid;
    grid-template-areas: "first second";
    grid-template-columns: 15rem 15rem;
    grid-template-rows: auto;
    grid-auto-flow: row;
    position: relative;
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 5px;
}

.sup {
    margin-top: 0;
    opacity: .9;
    margin-bottom: 4rem;
}

.first-half {
    grid-area: "first";
    /* background-color: aqua; */
    height: 45vh;
    display: grid;
    grid-template-areas: 'inputs' 'third';
    grid-template-columns: 100%;
    /* grid-template-rows: 100% auto; */
    /* gap: 20%; */
}

.inputs-1 {
    grid-area: inputs;
}

.second-half {
    grid-area: "second";
    /* background-color: blueviolet; */
}

.third-half {
    grid-area: "third";
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin-top: 10px; */
}

input {
    border: 0;
    border-bottom: 2px solid #f9c764;
}

input:focus {
    outline: none;
}

fieldset {
    border: none;
    border: 2px solid #fcc24fe9;
}

.submit {
    border: 0;
    border: 2px solid #f9c764;
    background-color: white;
    font-size: large;
    font-weight: 400;
    cursor: pointer;
    transition: background-color linear 80ms;
    width: 15rem;
    height: 5rem;
    top: 100%;
    position: absolute;
}

.submit:hover {
    background-color: #f9c764;
    color: white;
}