@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
    display: grid;
    grid-template-areas: "navb navb" "main main" "foot foot";
    grid-template-columns: 8rem auto;
    grid-template-rows: 14vh auto 250px;
    margin: 0;
    overflow-x: hidden;
    /* height: 300vh; */
    width: 100%;
    gap: 0%;
}

#weapon {
    /* position: absolute; */
    min-width: .3rem;
    height: 100%;
    background-color: #f9c764;
    /* transform: rotate(90deg); */
    margin-left: 7.7rem;
}

.weap {
    grid-area: weapon;
    display: flex;
}

.cont-plan {
    display: grid;
    grid-area: contplan;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 'sec1' 'sec2' 'sec3' 'sec4';
    /* gap: 10%; */
}

main {
    display: grid;
    grid-template-areas: 'weapon contplan';
    grid-template-rows: 100%;
    grid-template-columns: 0% 100%;
    height: 350vh;
}

section:nth-of-type(1) {
    /* background: red; */
    grid-area: sec1;
}

section:nth-of-type(2) {
    /* background: blue; */
    grid-area: sec2;
}

section:nth-of-type(3) {
    /* background: green; */
    grid-area: sec3;
}

section:nth-of-type(4) {
    /* background: pink; */
    grid-area: sec4;
}

section {
    display: grid;
    place-items: left;
    align-content: center;
    min-height: 70vh;
    font-family: sans-serif;
    font-size: larger;
    padding-left: 7.7rem;
    text-align: left;
    padding-left: 10rem;
}

.first,
.second,
.third,
.forth {
    /* position: relative; */
    display: grid;
    grid-template-areas: 'cont-q hiddenn';
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    /* background: yellow; */
    gap: 10%;
    transform: translateX(-14%);
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-10%);
    transition: all 1.5s;
    grid-area: hiddenn;
    /* background-color: blue; */
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(-5%);
}

#scroll-progress {
    position: fixed;
    top: 0;
    width: 0%;
    height: 3px;
    background: #f9c764;
    z-index: 10000;
}

#scroll-progress-2 {
    position: fixed;
    top: 0;
    width: 3.5px;
    height: 0%;
    background: #f9c764;
    z-index: 10000;
    display: none;
}


/* Typo */

h1 {
    color: #f9c764;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

h1::after {
    content: attr(data-end);
    background: #f9c764;
    color: white;
}

.pictures {
    display: flex;
    /* padding-left: 2.5rem; */
}

.info {
    max-width: 10em;
    padding: 0 .2em;
    object-fit: cover;
    border-radius: 7%;
    min-height: 15rem;
}

.info:nth-child(1) {
    transition-delay: 100ms;
}

.info:nth-child(2) {
    transition-delay: 300ms;
}

.info.info:nth-child(3) {
    transition-delay: 500ms;
}

.info.info:nth-child(4) {
    transition-delay: 700ms;
}

.cont-q {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* left: 58px; */
    grid-area: cont-q;
    z-index: 999;
}

.q {
    color: #f9c764;
    width: 8rem;
    height: 8rem;
    border: 3.5px solid #f9c764;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    /* position: absolute; */
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 600;
}

.q:nth-child(1) {
    /* top: 15em; */
}

.q:nth-child(2) {
    /* top: 38em; */
}

.q:nth-child(3) {
    /* top: 67em; */
    /* opacity: 0; */
}

.q:nth-child(4) {
    /* top: 95em; */
    /* opacity: 0; */
}

section>p {
    opacity: .8;
}

.top {
    display: flex;
    /* margin-left: -1.5rem; */
}

.info-1:nth-child(1) {
    width: 30rem;
    height: 25rem;
    box-shadow: 1px 0px 24px -3px #f9c764;
    transition-delay: 100ms;
}

.info-1:nth-child(2) {
    width: 10rem;
    object-fit: cover;
    transform: rotate(10deg);
    transition-delay: 500ms;
}

@media only screen and (max-width: 800px) {
    #scroll-progress-2 {
        display: flex;
    }
    main {
        grid-template-columns: 0% 100%;
        height: 400vh;
    }
    .weap {
        display: none;
    }
    h1 {
        font-size: 1.2rem;
    }
    .info {
        max-width: 4em;
        min-height: 10rem;
    }
    section>p {
        padding-right: 2em;
    }
    .info-1:nth-child(1) {
        width: 20rem;
        height: 15rem;
    }
    .info-1:nth-child(2) {
        width: 1rem;
    }
    .hidden>img {
        width: 20rem;
    }
    .hidden>video {
        width: 20rem;
        height: 10rem;
    }
    .q {
        position: relative;
    }
    #scroll-progress {
        display: none;
    }
    .first,
    .second,
    .third,
    .forth {
        /* position: relative; */
        display: grid;
        grid-template-areas: 'cont-q' 'hiddenn';
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
        /* background: yellow; */
        gap: 0%;
        transform: translateX(-14%);
    }
    .hidden {
        opacity: 0;
        filter: blur(10px);
        transform: translateY(-10%);
        transition: all 1.5s;
        grid-area: hiddenn;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0%);
    }
}
