* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas: "navb navb" "main main" "foot foot";
    grid-template-columns: 8rem auto;
    grid-template-rows: 14vh auto 250px;
    margin: 0;
    overflow-x: hidden;
    /* height: 300vh; */
    width: 100%;
    gap: 5%;
}

.cont-nav {
    display: grid;
    grid-area: navb;
    grid-template-columns: 8rem auto;
    grid-template-rows: 100%;
    grid-template-areas: 'head nav';
}

header {
    grid-area: head;
    background-color: #f6b93f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    box-shadow: 0px 1px 10px -2px #f6b93f;
    z-index: 999;
    /* padding: 49px 0; */
}

header>img {
    width: 2.5em;
    object-fit: cover;
    /* margin-left: 4em; */
}

.navbar {
    grid-area: nav;
    /* border: 1px solid black; */
    z-index: 999;
    /* display: f; */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    width: 100%;
    /* height: 100%; */
    box-shadow: 0px 1px 10px -2px #f6b93f;
}

.navbar>ul {
    display: grid;
    width: 97%;
    height: 100%;
    align-items: center;
    /* background-color: red; */
    list-style: none;
    /* position: relative; */
    grid-template-columns: 15% 35% 25% 25%;
    grid-template-areas: 'home plan founders connect';
    /* text-decoration: none; */
}

.navbar>ul>li:nth-child(1) {
    /* background-color: blue; */
    grid-area: home;
}

.navbar>ul>li:nth-child(2) {
    /* background-color: orange; */
    grid-area: plan;
}

.navbar>ul>li:nth-child(3) {
    /* background-color: green; */
    grid-area: founders;
}

.navbar>ul>li:nth-child(4) {
    /* background-color: pink; */
    grid-area: connect;
}

.navbar>ul>li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.nav-text {
    text-decoration: none;
    color: #f9c764;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-text:hover {
    background: #f9c764;
    color: white;
}

main {
    grid-area: main;
    background-color: white;
    /* display: flex; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 65%;
    grid-template-areas: 'selector' 'articlsha';
    /* background-color: red; */
    gap: 5%;
}

.carousel {
    grid-area: carousel;
    /* background-color: red; */
    /* height: 50px; */
}

footer {
    grid-area: foot;
    background-color: #f9c764;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    bottom: 0%;
    position: relative;
}

.carousel {
    position: relative;
    /* width: 50%; */
}

.carousel__item {
    /* border: 1px solid black; */
    /* max-height: 13em; */
    /* background: rgba(75, 74, 74, 0.644); */
    object-fit: cover;
    /* padding: 1em .95em; */
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    /* font-size: 2em; */
    color: #ffffff;
    display: none;
    margin: 0;
}

.carousel__item--selected {
    display: block;
}

.carousel__nav {
    width: 100%;
    /* padding: 20px 0; */
    position: absolute;
    bottom: 3%;
    left: 0;
    text-align: center;
}

.articls {
    grid-area: articlsha;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 'article1' 'article2';
    /* height: 200vh; */
    /* gap: 10%; */
    /* gap: 1%; */
    /* background: red; */
    gap: 5%;
}

.carousel__button {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel__button--selected {
    background: rgba(255, 255, 255, 0.5);
}

.info {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
}

.info>h1 {
    color: #ffffff;
    font-weight: 600;
    position: absolute;
    top: 5.5rem;
    left: 2%;
    font-size: 3.0em;
}

.info>p {
    position: absolute;
    top: 9rem;
    color: #ffffff;
    text-shadow: 0 1px rgba(75, 74, 74, 0.644);
    opacity: .9;
    font-weight: 400;
    left: 2%;
    font-size: 2.4em;
}

.info--1 {
    grid-area: info1;
}

.image1 {
    /* width: 105.27%; */
    width: 100%;
    height: 25em;
    margin: 0;
    object-fit: right;
    align-items: center;
    justify-items: center;
    /* position: relative; */
    /* top: -1em; */
    /* left: -1em; */
    /* right: 0; */
    /* position: absolute; */
    grid-area: image1;
    background-position: center;
    background-size: cover;
}

.first {
    background-image: url(https://cdn.discordapp.com/attachments/941095160517894185/1051511256932163684/wallpaperflare.com_wallpaper_1.jpg);
}

.second {
    background-image: url(https://cdn.discordapp.com/attachments/941095160517894185/1051538414085865502/wallpaperflare.com_wallpaper.jpg);
}

.third {
    background-image: url(https://cdn.discordapp.com/attachments/941095160517894185/1052205906202472468/wallpaperflare.com_wallpaper.jpg);
}

.article1 {
    /* border: 1px solid red; */
    margin: 2rem 14rem;
    display: grid;
    align-items: top;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 'image1 info1';
}

.photo-1 {
    grid-area: image1;
    /* border: 1px solid black; */
    width: 25em;
    height: 25em;
    background-image: url(https://cdn.discordapp.com/attachments/941095160517894185/1051573220857368576/botanical-garden-experiments.jpg);
    background-size: 190%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .25em 0 0 .25em;
    transition: all 500ms;
    object-fit: cover;
    /* border: 1px solid blue; */
}

.photo-1:hover {
    background-size: 200%;
}

.info--1 {
    /* border: 1px solid blue; */
    grid-area: info1;
    text-align: left;
    padding-left: .8em;
    width: 25em;
    position: relative;
}

.info--1>h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    opacity: .9;
}

.info--1>p {
    font-family: 'Inter', sans-serif;
    margin: 0em;
    line-height: 1.7em;
    opacity: .8;
}

button {
    padding: 1em 5em;
    /* margin-top: 8.03em; */
    background: #f9c764;
    color: white;
    font-size: .834em;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: .4em;
    border: 0;
    cursor: pointer;
    position: absolute;
    bottom: 0%;
}

button:hover {
    background-color: #f6b93f;
}

.article2 {
    /* border: 1px solid red; */
    margin: 2rem 14rem;
    display: grid;
    align-items: top;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 'info2 image2';
    /* gap: 10%; */
}

.photo-2 {
    /* border: 1px solid black; */
    grid-area: image2;
    width: 25em;
    height: 25em;
    background-image: url(https://cdn.discordapp.com/attachments/941095160517894185/1051829692249948221/ezgif.com-gif-maker.jpg);
    background-size: 190%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 .25em .25em 0;
    transition: all 500ms;
    object-fit: cover;
}

.photo-2:hover {
    background-size: 200%;
}

.info--2 {
    /* border: 1px solid blue; */
    grid-area: info2;
    text-align: left;
    /* padding-left: .8em; */
    width: 25em;
    position: relative;
}

.info--2>h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    opacity: .9;
}

.info--2>p {
    font-family: 'Inter', sans-serif;
    /* margin: 0em; */
    line-height: 1.7em;
    opacity: .8;
}

.info--1>button {
    /* margin-top: 22.4%; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 34px center;
}

.info--2>button {
    /* margin-top: 28.38%; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 34px center;
}

forum {
    margin-top: 2em;
    display: grid;
    align-items: center;
    justify-content: center;
}

.label1 {
    display: block;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.input1 {
    display: flex;
    /* margin-left: 5.5em; */
    /* position: absolute;
    left: 520px;
    right: 520px; */
    /* margin-top: 1em; */
    border: 0;
    border-bottom: 2px solid white;
    background-color: #f9c764;
    padding: .3em 0;
    color: white;
}

.input2 {
    background-color: #f6b93f;
    margin-top: 2em;
    padding: 1em 5em;
    color: white;
    font-size: .834em;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: .4em;
    border: 0;
    cursor: pointer;
    position: relative;
    /* left: 25%; */
}

.socials {
    margin-top: 2em;
}

footer>p {
    color: white;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 400;
    position: absolute;
    left: 2%;
    /* margin-top: 14em; */
    bottom: 0%;
    /* color: red; */
}

.input1,
.input2 {
    margin-top: 1.5em;
}

input:focus {
    outline: none;
}

.flower {
    animation-name: flower;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    max-width: 20rem;
}

@keyframes flower {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 800px) {
    /* body {
        grid-template-areas: "navb navb" "main main" "foot foot";
        grid-template-columns: 5rem auto;
        grid-template-rows: 14vh auto auto;
        
    } */
    body {
        height: 370vh;
        grid-template-rows: 14vh 380vh auto;
        /* gap: 5%; */
    }
    main {
        /* display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; */
        /* margin: 0;
        padding: 0; */
        gap: 0%;
    }
    .article {
        gap: 20%;
        transform: translateY(50%);
    }
    /* selector {
        margin: 0;
        padding: 0;
        display: flex;
    }
    .carousel__item {
        /* padding: 1em 0em; */
    /* font-size: 0rem;
    background-color: transparent;
    width: 100%;
    height: 100px; */
    .article1 {
        /* border: 1px solid red; */
        /* margin: 2rem 14rem; */
        display: grid;
        align-items: top;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 'image1' 'info1';
        gap: 13%;
    }
    .article2 {
        /* border: 1px solid red; */
        /* margin: 2rem 14rem; */
        display: grid;
        align-items: top;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 'image2' 'info2';
        gap: 13%;
    }
    .info>h1 {
        font-size: 2rem;
        /* font-weight: 400; */
    }
    .info>p {
        font-size: 1.5rem;
    }
}

.info {
    width: 100%;
}

.image1 {
    width: 100%;
}

.cont-nav {
    display: grid;
    grid-area: navb;
    grid-template-columns: 100%;
    grid-template-rows: 4rem auto;
    grid-template-areas: 'head' 'nav';
}

header {
    grid-area: head;
}

.navbar {
    grid-area: nav;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 10%; */
    gap: 2%;
}

.image1 {
    /* width: 108%; */
}

.image1 {}

.article2 {
    grid-area: article2;
}

.article1 {
    /* margin: auto;
        margin-top: 2rem; */
    grid-area: article1;
}

.article1,
.article2 {
    margin: auto;
}

.info--2,
.info--1 {
    /* width: 15rem; */
}

.socials {
    margin-top: 0em;
    padding-bottom: 2rem;
}

footer>p {
    /* margin-top: 13.5em; */
}
